@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,cyrillic);
#canvas {
    min-height: 1500px;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    border: solid 1px #DDD;
}

#canvas svg {
    top: 0;
    width: 100%;
    min-height: 1500px;
}

.rectangle-list {
    margin-top: .5em;
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .2);
}
.block-a {
    padding: 0;
}

.block-b {
    width: 975px;
}

div.modal-content {
    border-radius: 0;
}

.work-area {
    min-width: 975px;
}

.entity {
    width: 235px;
}

.block {
    padding: 0;
    background-color: white;
}

.block > ul.rectangle-list {
    margin: 0;
}

.rectangle-list li {
    overflow: hidden;
    padding: 6px 10px;
    font-size: 0.75em;
    position: relative;
    overflow: hidden;
}

.rectangle-list li:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .2);
}

.rectangle-list li:first-child:before {
    content: "";
    margin-right: 10px;
}

.rectangle-list span {

    width: 75%;
    color: #7C7D7F;
}

.rectangle-list em {
    position: absolute;
    right: 0.5em;
    top: 0.6em;
    color: #9c836e;
    font-weight: bold;
    background-color: white;
}

.picture-btn {
    width: 30px;
    height: 26px;
    padding: 0;
    background-color: transparent;
    border: none;
}

button[disabled="disabled"].picture-btn {
    opacity: 0.3;
}

/*SVG*/
.picture-light {
    width: 14px;
    height: 14px;
}

.picture-middle {
    width: 28px;
    height: 28px;
}

/*Звездочка которая показывает что множественная свзь*/
span.multiplicity {
    position: absolute;
    right: -160px;
    top: 0;
    font-size: x-large;
}

div.modal-header, div.modal-footer {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ededed;
}

.grid {
    /*background-color: rgb(244, 244, 244);*/
    /*Горизонтальные 5мм*/
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.52) 1px, transparent 1px),*/ /*/!*Линии 5 мм верт*!/ linear-gradient(90deg, rgba(0, 0, 0, 0.52) 1px, transparent 1px),*/
    linear-gradient(#e4e4e4 1px, transparent 1px),
    linear-gradient(90deg, #e4e4e4 1px, transparent 1px),
    linear-gradient(#ededed 1px, transparent 1px),
    linear-gradient(90deg, #ededed 1px, transparent 1px);
    background-size: 100px 100px,
    100px 100px,
    5px 5px,
    5px 5px,
    20px 20px,
    20px 20px;
    background-position: -1px -1px,
    -1px -1px,
    0 0,
    0 0,
    -1px -1px,
    -1px -1px;
}
#logo {
    font-family: 'Press Start 2P', cursive;
    color: #1a6958;
}

a {
    cursor: pointer;
}