<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title"></title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/site.css">
    <!-- endinject -->
</head>
<body>
<nav class="navbar navbar-default " role="navigation" ng-controller="navigationCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">Brand</a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="model.isAunt"><a class="dropdown-toggle" data-toggle="dropdown">Проекты<b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="p in model.projects"><a ng-bind="p.name"
                                                               ng-click="loadProject(p.id)"></a></li>
                    </ul>
                </li>
                <li ng-show="model.isAunt"><a ng-click="deleteProject()">Удалить проект</a></li>
                <li ng-show="model.isAunt"><a ng-click="saveProject()" ng-bind="model.saveTitle"></a>
                </li>
                <li ng-show="model.isAunt"><a ng-click="addGenerator()">Добавить генератор</a></li>
                <li><a ng-click="clearProject()">Очистить</a>
                </li>
                <li><a ng-bind="model.loginTitle" ng-click="login()"></a></li>
                <li><a ng-click="signUp()" ng-show="!model.isAunt">Регитрация</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    <div ng-view></div>
    <footer>
        <div>Icons made by <a href="http://www.flaticon.com/authors/heydon" title="Heydon">Heydon</a>, <a
                href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a
                href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a>, <a
                href="http://www.flaticon.com/authors/dirtyworks" title="Dirtyworks">Dirtyworks</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </footer>
</div>
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular-bootstrap-contextmenu/contextMenu.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="app.js"></script>
<script src="directives/entityDraggable.js"></script>
<script src="directives/fieldDraggable.js"></script>
<script src="directives/ngCanvas.js"></script>
<script src="controllers/addTemplateModalCtrl.js"></script>
<script src="controllers/addViewModalCtrl.js"></script>
<script src="controllers/associationModalCtrl.js"></script>
<script src="controllers/confirmModalCtrl.js"></script>
<script src="controllers/enterNameModalCtrl.js"></script>
<script src="controllers/entityModalCtrl.js"></script>
<script src="controllers/enumModalCtrl.js"></script>
<script src="controllers/infoModalCtrl.js"></script>
<script src="controllers/loginModalCtrl.js"></script>
<script src="controllers/mainCtrl.js"></script>
<script src="controllers/navigationCtrl.js"></script>
<script src="controllers/selectModalCtrl.js"></script>
<script src="controllers/signUpModalCtrl.js"></script>
<script src="controllers/universalModalCtrl.js"></script>
<script src="controllers/wizardCtrl.js"></script>
<script src="services/FileSaver.js"></script>
<script src="services/authService.js"></script>
<script src="services/diagramService.js"></script>
<script src="services/integerCounter.js"></script>
<script src="services/modalService.js"></script>
<script src="services/templateService.js"></script>
<script src="Primitives/ArrayPrototype.js"></script>
<script src="Primitives/DiagramItem.js"></script>
<script src="Primitives/Entity.js"></script>
<script src="Primitives/Field.js"></script>
<script src="Primitives/Relation.js"></script>
<script src="filters/associationFilter.js"></script>
<script src="filters/viewFilter.js"></script>
<script src="factories/authInterceptor.js"></script>
<script src="factories/generator.js"></script>
<script src="factories/geometryBlock.js"></script>
<script src="factories/namedCollection.js"></script>
<script src="factories/namedItem.js"></script>
<!-- endinject -->
</body>
</html>