<div class="modal-header">
    <div class="row">
        <div class="col-lg-2">
            <img src="./image/text12.svg" class="picture-middle">
        </div>
        <div class="col-lg-10">
            <h3 class="modal-title">Введите название проекта</h3>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Название проекта</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Название" ng-model="model.name">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="picture-btn" ng-click="ok()" ng-disable="!model.name"><img src="./image/mark15.svg" class="picture-light"></button>
    <button class="picture-btn" ng-click="cancel()"><img src="./image/negative1.svg" class="picture-light"></button>
</div>